.lazy-load-img__wrapper {
  overflow: hidden;
  position: relative;

  img {
    display: block;
    position: relative;
    z-index: 4;

    &[data-lazy-src] ,
    &[data-lazy-srcset] {
      filter: blur(2vw);
      transform: scale(1.05);
      z-index: 0;
    }


    &.animated {
      will-change: transform, opacity;
      animation: progressiveReveal 1s ease;
    }

    &.progressive{
      display: block;
      position: absolute;
      z-index: 5;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
    }

  }

}

@keyframes progressiveReveal {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.lazy-load-img__placeholder {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  filter: blur(2vw);
  transform: scale(1.05);
  background: transparent no-repeat center / contain;
  z-index: 3;
}
