.progressive {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
}

.progressive img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}

.progressive img.preview {
  filter: blur(2vw);
}

.progressive img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: opacity;
  animation: progressiveReveal .5s ease-out;
}

@keyframes progressiveReveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
